*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.background-color{
    background-color: #255EE9;
    padding: 20px 0px

}

.content{

    width: 1180px;
    margin: 0 auto;
    display: flex;
}



.d-flex{
    display: flex;
}

.gap{
    gap: 10px;
}

.justify-content{
    justify-content: center;
}

ul{
    list-style-type:none;
}

.col-white{
    color: white;
}

.align-items{
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
}


.text-container-1{
    width: 20%;
    background-color: #255EE9 ;
    align-items: center;

}
.text-container-2{
    width: 60%;
    background-color: #255EE9;

}

.text-container-3{
    width: 20%;
    text-align: right;
    background-color: #255EE9;
}

.align{
    padding: 5px;
}

.align-2{
    padding: 30px;
}

.flex-wrap{
    flex-wrap: wrap;
}



.button{
    border: 0px;
    border-radius: 20px;
    padding: 10px;
}

.d-block{
    display: block;
}

.white-button{
    background-color: white;
}

.background-color-2{
    background-color: #00008B;
}

.con-width{
    width: 100%;
}

.text-align{
    text-align: center;
}

.font-size{
    font-size: 50px;
}

.font-size-p{
    font-size: 30px;
}

.line-height{
    line-height: 1.5em ;
}

.py-h1{
    padding: 15px;
}


.font-size-button{
    font-size: 20px;
}



.background-image{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 600px;
    padding: 140px 0px;
    
}

.container-2{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    }

.square-1{
    width: 70%;
    height: 200px;
    margin: 30px 0px 30px ;
}

.button-2{
    border: 0;
    border-radius: 20px;
    padding: 10px;
}

.back-col-white-button{
    background-color: white;

}

.col-blacl-button{
    color: black;

}


.back-col-black-button{
    background-color: black;

}

 .col-text{
    color: white;
 }

 .font-h2{
    font-size: 45px;
 }

 .font-p{
    font-size: 20px;
 }

 .margin-bottom{
    margin-bottom: 25px;
 }

 .align-items-2{
    align-items: baseline;
 }

 .py-p{
    padding-bottom: 40px;
 }

 .margin-top-2{
    margin-top: 25px;
 }

 

 .vertical-align{
    vertical-align: top;
 }

.background-color-3{
    background-color: white;
}

.con-width-button{
    width: 60%;
}

.container-3{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;


}

.square-2{
    width: 60%;
    height: 200px;
    margin: 0 auto;
    margin: 30px 0px 30px
    
}

.square-3{
    width: 40%;
    height: 200px;
    margin: 30px 0px 30px;
    
    
}

.background-color-4{
    background-color: #D3D3D3;
    
}

.container-4{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}



.square-4{
    width: 40%;
    margin: 30px 0px 30px;
    
    

    
}

.square-5{
    width: 60%;
    margin: 30px 0px 30px;
    
}

.container-5{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.square-6{
    width: 100%;
    margin: 30px 0px 30px;
    
}

.button-3{  
    border: 0;
    border-radius: 20px;
    padding: 10px;
    
    
}

.con-width-2{
    width: 100%;
}

.py-button{
    padding-top: 20px;
}

.back-col-button{
    background-color: #7289DA;
}

.align-button{
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}



.background-color-5{
    background-color: #23272A;
}

.back-h3{
    height: 120px;
    width: 700px;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 50px;
}

.container-6{
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-7{
    width: 30%;
    height: 200px;
    margin: 30px 0px 30px;

}

.d-flex-2{
    display: flex;
    width: 70%;

}

.flag{
    height: 20px;
    margin: 20px 0px 15px 0px;
}

.flag img{
    height: 20px;
    margin-right: 10px;
}

.squares{
    flex-grow: 1;
    height: 200px;
    

}
.col-blue{
    color: #6E88DA;
}

.d-inline-block{
    display: inline-block;
}
.margin-right{
    margin-right: 30px;
}

.background-color-6{
     background-color:#23272A ;
     padding: 30px 0px 0px
}

.little-square{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.container-text-3{
    width: 40px;
    align-self: center;
    


}

.align-2{
    align-self: center;
}


.container-text-4{
    width: 55px;
    align-self: center;
}

.container-hr{
    max-width: 1180px;
    margin: 0 auto;
}

hr{
    border:1px solid #6E88DA ;
}
.button-4{
    border: 0;
    border-radius: 20px;
    padding: 10px;
}